<div class="" style="width: 600px">

  <div id="top" style="color: white; background-color: #283d23; height: 100px;">
    <div class="" style="float: left">
      <img src="https://media.discordapp.net/attachments/697564908694274118/756683479118250095/image0.jpg" alt="" style="height:50px; margin: 25px;">
    </div>
    <div class="" style="float: right; margin-right: 10px">
      <p>fecha de compra: {{buy_date}}<br>
        total: {{price}}
      </p>
    </div>
  </div>

  <div id="main" class="" style="">
    <div id="name" class="" style="display: flex; width:100%; justify-content:center">
      <h2 style="color: black; margin: 0 auto">
          {{name}}
      </h2>
    </div>

    <div id="qr" class="" style="display: flex; width: 100%; justify-content: center">
      <img src="https://media.discordapp.net/attachments/697564908694274118/756683479118250095/image0.jpg" alt="" style="height:150px; margin: auto;">
    </div>

    <div id="date" class="" style="display: flex; width: 100%; justify-content: center">
      <h3 style="color: black; margin: 0 auto">
        {{date}}
      </h3>
    </div>

    <div id="details" class="" style="display: flex; width: 100%; justify-content: center; margin: 0 auto">
      <div id="area" class="" style="margin: 5px 10px">
        <h4>AREA<br>
          {{area}}
        </h4>
      </div>
      <div id="personas" class="" style="margin: 5px 10px">
        <h4>PERSONAS<br>
          {{old}} Adulto(s) Mayor(es)<br>
          {{adult}} Adulto(s)<br>
          {{child}} niño(s)
        </h4>
      </div>
      <div id="vehiculo" class="" style="margin: 5px 10px">
        <h4>VEHICULO<br>
          {{vehicle_name}}<br>
          {{vehicle_plate}}
        </h4>
      </div>
      <div id="actividad" class="" style="margin: 5px 10px">
        <h4>ACTIVIDAD<br>
          {{activity}}
        </h4>
      </div>
    </div>
  </div>

  <div id="footer" class="" style="display: flex; width: 100%; justify-content: center">
    <p style="margin: 5px auto">123-456-7890</p>
    <p style="margin: 5px auto">correo@contacto.com</p>
  </div>

  </div>
